html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

html {
  font-size: 80%;
  height: 100%;
  background-color: #FAFAFA;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: none;
}

textarea:focus, input:focus {
  outline: none;
}

input[type=text], input[type=submit], input[type=email], input[type=tel],
input[type=url], input[type=search], textarea, select,
option {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'muller';
  src: url("/assets/fonts/muller/muller.woff2") format("woff2"), url("/assets/fonts/muller/muller.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'muller-black';
  src: url("/assets/fonts/muller/muller-black.woff2") format("woff2"), url("/assets/fonts/muller/muller-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* === General === */
footer {
  width: 100%;
  background-color: #fdbf57;
  padding: 50px 20px 70px 20px;
  position: relative;
}

footer h1 {
  font-family: 'muller-black';
  text-align: center;
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D79932;
  margin-bottom: 50px;
}

.sponsors {
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
}

.sponsors a {
  width: 21%;
  margin: 2% 6%;
}

.sponsors a img {
  width: 100%;
}

.madeby {
  background-color: #fdbf57;
  text-align: center;
  color: #D79932;
  z-index: 20;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  font-family: 'muller-black';
  text-transform: uppercase;
}

/* === Home page === */
.navigation {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.navigation nav ul {
  width: 350px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
}

.navigation nav ul a {
  text-decoration: none;
}

.navigation nav li {
  padding: 10px 0;
  cursor: pointer;
  color: #2B2E39;
  font-weight: 400;
}

.navigation nav div {
  background-color: #FCD487;
  width: 100%;
  height: 0;
  transition: all .3s;
  margin-top: -5px;
}

.navigation nav li:hover div {
  height: 10px;
}

.nav_active {
  font-weight: 600 !important;
}

.nav_active div {
  height: 10px !important;
}

.innernavigation {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.logo {
  height: 100px;
  width: 200px;
  margin-top: -20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: black;
  text-transform: uppercase;
  font-family: 'muller';
  text-decoration: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/assets/images/logo.png);
}

.logo span {
  display: none;
}

.head {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.head_content {
  width: 100%;
  padding-top: 150px;
  max-width: 500px;
  margin: 0 auto;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.head_contenttop {
  width: 100%;
  font-family: 'muller';
  font-size: 4em;
  line-height: 130%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: black;
  margin-bottom: 50px;
  letter-spacing: 2.22px;
}

.head_contenttop span {
  color: #8981FF;
  font-family: 'muller-black';
}

.head_contentbottom {
  width: 100%;
  font-size: 1.3em;
  line-height: 150%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  color: #272727;
  padding-left: 50px;
}

.head_content a {
  width: 186px;
  height: 100px;
  border: none;
  margin-top: 50px;
  font-family: 'muller';
  padding-bottom: 20px;
  font-size: 1.2em;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/images/buttonbg.png);
}

.meerinfo:hover {
  max-width: 180px;
}

/* Left Blob */
.leftblob {
  width: 450px;
  height: 900px;
  position: absolute;
  left: 0;
  top: 20px;
}

.leftmainblob {
  width: 100%;
}

.smallblobleft1 {
  width: 100px;
  position: absolute;
  left: 10px;
  top: 180px;
  z-index: -10;
}

.smallblobleft2 {
  width: 60px;
  position: absolute;
  left: 200px;
  top: 540px;
  z-index: -10;
}

/* Right Blob */
.rightblob {
  width: 450px;
  height: 800px;
  position: absolute;
  right: 0;
  top: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url(/assets/images/rightblob.png);
}

.smallblobright {
  width: 60px;
  right: 10px;
  bottom: 200px;
  position: absolute;
}

/* Part 2 */
.part2 {
  background-color: #FEF6E7;
  padding-top: 50px;
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
}

.part2 h1 {
  color: #BEB6A7;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-align: center;
  padding: 40px 0;
}

.part2 p {
  color: #585041;
  margin: 0 auto;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0,14px;
  max-width: 600px;
  margin-bottom: 30px;
}

.leftquizbubble {
  position: absolute;
  left: -50px;
  top: 200px;
  height: 700px;
}

.rightquizbubble {
  position: absolute;
  right: -20px;
  top: 1000px;
  height: 700px;
}

.part2_content {
  max-width: 960px;
  margin: 0 auto;
  display: block;
  padding: 10px;
}

.part2_content p {
  line-height: 190%;
}

.choice {
  max-width: 960px;
  padding: 10px;
  margin: 0 auto;
  width: 95%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choice_block {
  width: 48%;
  padding: 20px;
  border-radius: 5px;
  min-height: 550px;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.choice_block img {
  height: 110px;
  margin: 0 auto;
  margin-top: 30px;
}

.choice_block h1 {
  color: #585041;
  font-family: 'muller';
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
  padding: 40px 0 20px 0;
}

.choice_block p {
  font-size: 1.2em;
  line-height: 160%;
  text-align: center;
  color: #A3A4A2;
  -ms-flex: 1;
      flex: 1;
  padding: 20px 20px;
}

.choice_block div {
  cursor: pointer;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 1.3em;
  border: none;
  text-align: center;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/assets/svg/buttonbg.svg);
  transform: rotate(180deg);
}

.choice_block div h2 {
  transform: rotate(180deg);
}

.secondbutton {
  transform: rotate(0) !important;
}

.waves {
  margin-top: -100px;
  margin-bottom: -1px;
}

.waves img {
  width: 100%;
}

.waves2 {
  margin-top: -250px;
  margin-bottom: -2px;
  position: relative;
  z-index: 15;
}

.waves2 img {
  width: 100%;
}

/* === Quiz === */
.quiz {
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
  width: 95%;
  min-height: 600px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.quiz_content {
  width: 100%;
  height: 100%;
}

.qbtn {
  padding: 10px 20px;
  background-color: #FCD487;
  font-family: 'muller';
  text-transform: uppercase;
  color: gray;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  max-width: 200px;
}

.qcontent {
  width: 100%;
  height: 100%;
}

.qcontent h1 {
  font-size: 3em;
}

.question {
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  font-family: 'muller';
}

.options, .options1 {
  max-width: 960px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.options1 {
  -ms-flex-pack: center;
      justify-content: center;
}

.option {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.q1_block {
  min-height: 350px;
}

.q1_block div {
  max-width: 300px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 25px;
}

.q1_block div img {
  width: 96%;
  transition: all .3s;
  cursor: pointer;
}

.q1_block div:hover img {
  width: 100%;
}

.q1_block div:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.q2_block {
  padding: 35px 50px;
  margin: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all .3s;
  background-image: url(/assets/images/buttonbg.png);
}

.q2_block span {
  font-size: 1.5em;
  font-weight: 600;
}

.q2_block:hover {
  margin: 5px 0;
  padding: 35px 55px;
}

.info {
  max-width: 650px;
  width: 95%;
  padding: 50px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 30px;
}

.info p {
  color: #2B2E39;
  font-size: 1.3em;
}

.colorBlue {
  color: #8981FF !important;
}

.colorYellow {
  color: #FCD487 !important;
}

.leftAnswer {
  background-color: #fff;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 300px;
  height: 300px;
  max-width: 810px;
  margin: 0 auto;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.leftAnswer img {
  height: 100%;
}

.leftAnswer div {
  -ms-flex: 1;
      flex: 1;
  padding: 0 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.leftAnswer div h2 {
  color: #FDBF58;
  font-family: 'Amatic SC';
  text-align: left;
  font-size: 3.5em;
  margin-bottom: 20px;
}

.leftAnswer div p {
  text-align: left;
  line-height: 170%;
  font-size: 1.2em;
}

.leftAnswer div span {
  color: #8981FF;
  font-weight: bolder;
}

.hidden {
  display: none;
}

/* === Info page === */
.infocontent {
  min-height: 1000px;
  padding-top: 100px;
}

.infocontent h1 {
  text-align: center;
  font-family: 'muller';
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 20px;
  color: gray;
}

.infoblob {
  width: 450px;
  position: absolute;
  left: 0;
  top: 110px;
  z-index: 0;
}

.infoblobright {
  position: absolute;
  right: 0px;
  top: 400px;
  height: 500px;
}

.leftinfobubble {
  position: absolute;
  left: -50px;
  top: 600px;
  height: 700px;
}

.rightinfobubble {
  position: absolute;
  right: -20px;
  top: 1700px;
  height: 700px;
}

.headinfo {
  max-width: 860px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 10;
  min-height: 70vh;
  padding-left: 300px;
}

.headinfo h1 {
  color: #2B2E39;
  font-size: 4em;
  font-family: 'muller-black';
  text-transform: none;
  letter-spacing: 2px;
  padding: 50px 0 30px 0;
}

.headinfo span {
  color: #8981FF;
}

.headinfo p {
  line-height: 170%;
  font-size: 1.3em;
  margin-bottom: 30px;
}

.headinfo a {
  width: 186px;
  height: 100px;
  font-family: 'muller';
  padding-bottom: 20px;
  font-size: 1.2em;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/images/buttonbg.png);
}

/* TIMELINE */
.timelineholder {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.timeline {
  margin: 0 auto;
  position: relative;
  max-width: 900px;
  padding-bottom: 100px;
}

.timelineholder::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: #FCD487;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.timelineoverlayholder {
  width: 10px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  z-index: 9;
  overflow: hidden;
  top: 100px;
  bottom: 0;
}

.timelineoverlay {
  background-color: #8985FC;
  border-radius: 10px;
}

.lineItem {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

.lineItem::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url(/assets/images/lineItem.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: -23px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 10;
}

.leftItem {
  left: 0;
  text-align: right;
}

.rightItem {
  left: 50%;
}

.rightItem::after {
  left: -22px;
}

.itemContent {
  padding: 20px 30px;
  position: relative;
}

.itemContent h2 {
  font-family: 'muller-black';
  font-size: 2.5em;
  color: #2B2E39;
  padding-bottom: 30px;
}

.itemContent h2 span {
  color: #8981FF;
}

.itemContent p {
  line-height: 170%;
  letter-spacing: 1px;
}

.extraContent {
  min-height: 70%;
  margin: 0 20px;
  width: 80%;
  position: absolute;
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  background: linear-gradient(135deg, #8981ff 0%, #635bd9 100%);
  padding: 40px;
}

.extraContent h3 {
  font-family: 'muller-black';
  letter-spacing: 1px;
  font-size: 1.8em;
  color: white;
  padding-bottom: 20px;
}

.extraContent p {
  color: white;
  line-height: 170%;
  font-size: 1em;
  letter-spacing: 1px;
}

.extraright {
  left: 110%;
  text-align: left;
}

.watmetivf {
  width: 300px;
  margin: 0 auto;
  display: block;
  margin-top: -50px;
  margin-bottom: 150px;
  position: relative;
  z-index: 20;
}

.stats {
  position: relative;
  margin-bottom: 200px;
}

.stats div {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 100px;
}

.stats img {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 300px;
}

.stats h2 {
  margin-top: 20px;
  color: #8981FF;
  font-weight: 800;
}

.stats p {
  line-height: 170%;
}

.stats h1 {
  font-family: 'muller';
  font-size: 3em;
  margin-bottom: 30px;
}

.risk {
  position: relative;
  margin-bottom: 200px;
}

.risk div {
  max-width: 600px;
  margin: 0 auto;
  padding-right: 100px;
}

.risk img {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 300px;
}

.risk h2 {
  margin-top: 20px;
  color: #8981FF;
  font-weight: 800;
}

.risk p {
  line-height: 170%;
}

.risk h1 {
  font-family: 'muller';
  font-size: 3em;
  margin-bottom: 30px;
}

.knowmore {
  min-height: 300px;
  max-width: 960px;
  z-index: 20;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
}

.knowmore h1 {
  font-size: 3em;
  font-family: 'muller';
  color: #635BD9;
}

.knowmore a {
  background: linear-gradient(135deg, #8981ff 0%, #635bd9 100%);
  color: white;
  text-transform: uppercase;
  font-family: 'muller';
  padding: 15px 30px;
  border-radius: 100px;
  margin-top: 30px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

/* === Responsive CSS === */
@media only screen and (max-width: 1200px) {
  .leftquizbubble, .rightquizbubble {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .stats img, .risk img {
    width: 200px;
  }
}

@media only screen and (max-width: 1150px) {
  .leftblob, .rightblob {
    width: 305px;
  }
}

@media only screen and (max-width: 1150px) {
  .leftblob, .rightblob {
    width: 305px;
  }
  .leftinfobubble, .rightinfobubble {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .infoblobright {
    display: none;
  }
  .infoblob {
    width: 300px;
    top: 170px;
  }
}

@media only screen and (max-width: 990px) {
  .rightblob {
    width: 230px;
    top: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    background-position: top center;
    height: 100%;
    top: 150px;
  }
  .leftblob {
    display: none;
  }
  .head_content {
    margin-left: 150px;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .head_contentbottom {
    padding-left: 0;
  }
}

@media only screen and (max-width: 960px) {
  .innernavigation {
    padding: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .leftAnswer div h2 {
    font-size: 2em;
  }
  .stats img, .risk img {
    width: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .timelineoverlayholder {
    left: 50px;
    bottom: 150px;
    top: 30px;
  }
  .watmetivf {
    display: none;
  }
  .timelineholder::after {
    left: 50px;
    bottom: 150px;
    top: 30px;
  }
  .lineItem {
    width: 100%;
    text-align: left;
  }
  .itemContent {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .extraContent {
    position: relative;
    left: 45px;
    transform: translateY(0);
  }
  .itemContent::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .leftItem::after, .rightItem::after {
    left: 27px;
  }
  .lineItem::after {
    top: 20px;
    transform: translateY(0);
  }
  .rightItem {
    left: 0%;
  }
  .leftinfobubble, .rightinfobubble {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .choice_block {
    width: 100%;
    margin-bottom: 30px;
  }
  .innernavigation {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .leftblob {
    display: none;
  }
  .smallblobright {
    display: none;
  }
  .head_contentbottom {
    padding-left: 0;
  }
  .head {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .head_content {
    margin: 0 auto;
    width: 100%;
  }
  .leftAnswer {
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    background-color: transparent;
  }
  .leftAnswer img {
    border-radius: 500px;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-color: #FBD28C;
    -ms-flex-order: 1;
        order: 1;
  }
  .leftAnswer div {
    width: 100%;
    -ms-flex-order: 2;
        order: 2;
    -ms-flex: auto;
        flex: auto;
    text-align: center;
  }
  .leftAnswer div h2 {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .leftAnswer div p {
    text-align: center;
  }
  .headinfo {
    min-height: 0;
    margin-top: 100px;
  }
  .stats img, .risk img {
    width: 100px;
  }
}

@media only screen and (max-width: 670px) {
  .infoblob {
    width: 200px;
    top: 220px;
  }
  .headinfo {
    padding-left: 210px;
  }
  .headinfo h1 {
    font-size: 2.5em;
  }
  .headinfo p {
    font-size: 1.1em;
  }
  .stats img, .risk img {
    display: none;
  }
  .stats div, .risk div {
    padding: 20px;
  }
  .stats, .risk {
    margin-bottom: 40px;
  }
  .knowmore {
    min-height: 350px;
  }
}

@media only screen and (max-width: 600px) {
  .head_contenttop {
    font-size: 3.5em;
  }
  .info {
    padding: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .q2_block {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .q1_block {
    min-height: 100px;
    width: 50%;
  }
  .part2 h1 {
    font-size: 2em;
  }
  .q2_block:hover {
    padding: 35px 50px;
    margin: 5px;
  }
  .head_content {
    -ms-flex-align: center;
        align-items: center;
  }
  .infoblob {
    display: none;
  }
  .headinfo {
    padding-left: 0;
    padding: 20px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .headinfo h1 {
    text-align: center;
  }
  .headinfo a {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .head_contenttop {
    font-size: 3em;
  }
  .head {
    min-height: 0;
  }
  .head_content {
    width: 90%;
    padding-top: 180px;
  }
  .rightblob {
    width: 190px;
    min-height: 100vh;
    background-position: top center;
    top: 160px;
  }
  .head_contentbottom {
    font-size: 1.1em;
  }
  .navigation nav {
    width: 100%;
  }
  .navigation nav ul {
    width: 100%;
  }
  .qza {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .head_contenttop {
    font-size: 2em;
  }
  .rightblob {
    width: 130px;
  }
}
