html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

html {
  font-size: 80%;
  height: 100%;
  background-color: #FAFAFA;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: none;
}

textarea:focus, input:focus {
  outline: none;
}

input[type=text], input[type=submit], input[type=email], input[type=tel],
input[type=url], input[type=search], textarea, select,
option {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'muller';
  src: url("/assets/fonts/muller/muller.woff2") format("woff2"), url("/assets/fonts/muller/muller.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'muller-black';
  src: url("/assets/fonts/muller/muller-black.woff2") format("woff2"), url("/assets/fonts/muller/muller-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* === General === */
footer {
  width: 100%;
  background-color: #fdbf57;
  padding: 50px 20px 70px 20px;
  position: relative;
}

footer h1 {
  font-family: 'muller-black';
  text-align: center;
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D79932;
  margin-bottom: 50px;
}

.sponsors {
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
}

.sponsors a {
  width: 21%;
  margin: 2% 6%;
}

.sponsors a img {
  width: 100%;
}

.madeby {
  background-color: #fdbf57;
  text-align: center;
  color: #D79932;
  z-index: 20;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  font-family: 'muller-black';
  text-transform: uppercase;
}

/* === Home page === */
.navigation {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.navigation nav ul {
  width: 350px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
}

.navigation nav ul a {
  text-decoration: none;
}

.navigation nav li {
  padding: 10px 0;
  cursor: pointer;
  color: #2B2E39;
  font-weight: 400;
}

.navigation nav div {
  background-color: #FCD487;
  width: 100%;
  height: 0;
  transition: all .3s;
  margin-top: -5px;
}

.navigation nav li:hover div {
  height: 10px;
}

.nav_active {
  font-weight: 600 !important;
}

.nav_active div {
  height: 10px !important;
}

.innernavigation {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.logo {
  height: 100px;
  width: 200px;
  margin-top: -20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: black;
  text-transform: uppercase;
  font-family: 'muller';
  text-decoration: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/assets/images/logo.png);
}

.logo span {
  display: none;
}

.head {
  width: 100%;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.head_content {
  width: 100%;
  padding-top: 150px;
  max-width: 500px;
  margin: 0 auto;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.head_contenttop {
  width: 100%;
  font-family: 'muller';
  font-size: 4em;
  line-height: 130%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: black;
  margin-bottom: 50px;
  letter-spacing: 2.22px;
}

.head_contenttop span {
  color: #8981FF;
  font-family: 'muller-black';
}

.head_contentbottom {
  width: 100%;
  font-size: 1.3em;
  line-height: 150%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  color: #272727;
  padding-left: 50px;
}

.head_content a {
  width: 186px;
  height: 100px;
  border: none;
  margin-top: 50px;
  font-family: 'muller';
  padding-bottom: 20px;
  font-size: 1.2em;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/images/buttonbg.png);
}

.meerinfo:hover {
  max-width: 180px;
}

/* Left Blob */
.leftblob {
  width: 450px;
  height: 900px;
  position: absolute;
  left: 0;
  top: 20px;
}

.leftmainblob {
  width: 100%;
}

.smallblobleft1 {
  width: 100px;
  position: absolute;
  left: 10px;
  top: 180px;
  z-index: -10;
}

.smallblobleft2 {
  width: 60px;
  position: absolute;
  left: 200px;
  top: 540px;
  z-index: -10;
}

/* Right Blob */
.rightblob {
  width: 450px;
  height: 800px;
  position: absolute;
  right: 0;
  top: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url(/assets/images/rightblob.png);
}

.smallblobright {
  width: 60px;
  right: 10px;
  bottom: 200px;
  position: absolute;
}

/* Part 2 */
.part2 {
  background-color: #FEF6E7;
  padding-top: 50px;
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
}

.part2 h1 {
  color: #BEB6A7;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-align: center;
  padding: 40px 0;
}

.part2 p {
  color: #585041;
  margin: 0 auto;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0,14px;
  max-width: 600px;
  margin-bottom: 30px;
}

.leftquizbubble {
  position: absolute;
  left: -50px;
  top: 200px;
  height: 700px;
}

.rightquizbubble {
  position: absolute;
  right: -20px;
  top: 1000px;
  height: 700px;
}

.part2_content {
  width: 960px;
  margin: 0 auto;
  display: block;
  padding: 10px;
}

.part2_content p {
  line-height: 190%;
}

.choice {
  max-width: 960px;
  padding: 10px;
  margin: 0 auto;
  width: 95%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 50px;
}

.choice_block {
  width: 48%;
  padding: 20px;
  border-radius: 5px;
  min-height: 550px;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.choice_block img {
  height: 110px;
  margin: 0 auto;
  margin-top: 30px;
}

.choice_block h1 {
  color: #585041;
  font-family: 'muller';
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
  padding: 40px 0 20px 0;
}

.choice_block p {
  font-size: 1.2em;
  line-height: 160%;
  text-align: center;
  color: #A3A4A2;
  -ms-flex: 1;
      flex: 1;
  padding: 20px 20px;
}

.choice_block div {
  cursor: pointer;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 1.3em;
  border: none;
  text-align: center;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/assets/svg/buttonbg.svg);
  transform: rotate(180deg);
}

.choice_block div h2 {
  transform: rotate(180deg);
}

.secondbutton {
  transform: rotate(0) !important;
}

.waves {
  margin-top: -100px;
  margin-bottom: -1px;
}

.waves img {
  width: 100%;
}

.waves2 {
  margin-top: -250px;
  margin-bottom: -1px;
  position: relative;
  z-index: 15;
}

.waves2 img {
  width: 100%;
}

/* === Quiz === */
.quiz {
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
  width: 95%;
  min-height: 600px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.quiz_content {
  width: 100%;
  height: 100%;
}

.qbtn {
  padding: 10px 20px;
  background-color: #FCD487;
  font-family: 'muller';
  text-transform: uppercase;
  color: gray;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  max-width: 200px;
}

.qcontent {
  width: 100%;
  height: 100%;
}

.qcontent h1 {
  font-size: 3em;
}

.question {
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  font-family: 'muller';
}

.options, .options1 {
  max-width: 960px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.options1 {
  -ms-flex-pack: center;
      justify-content: center;
}

.option {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.q1_block {
  min-height: 350px;
}

.q1_block div {
  max-width: 300px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 25px;
}

.q1_block div img {
  width: 96%;
  transition: all .3s;
  cursor: pointer;
}

.q1_block div:hover img {
  width: 100%;
}

.q1_block div:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.q2_block {
  padding: 35px 50px;
  margin: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all .3s;
  background-image: url(/assets/images/buttonbg.png);
}

.q2_block span {
  font-size: 1.5em;
  font-weight: 600;
}

.q2_block:hover {
  margin: 5px 0;
  padding: 35px 55px;
}

.info {
  max-width: 650px;
  width: 95%;
  padding: 50px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 30px;
}

.info p {
  color: #2B2E39;
  font-size: 1.3em;
}

.colorBlue {
  color: #8981FF !important;
}

.colorYellow {
  color: #FCD487 !important;
}

.leftAnswer {
  background-color: #fff;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 300px;
  height: 300px;
  max-width: 810px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.leftAnswer img {
  height: 100%;
}

.leftAnswer div {
  -ms-flex: 1;
      flex: 1;
  padding: 0 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.leftAnswer div h2 {
  color: #FDBF58;
  font-family: 'Amatic SC';
  text-align: left;
  font-size: 3.5em;
  margin-bottom: 20px;
}

.leftAnswer div p {
  text-align: left;
  line-height: 170%;
  font-size: 1.2em;
}

.leftAnswer div span {
  color: #8981FF;
  font-weight: bolder;
}

.hidden {
  display: none;
}

/* === Info page === */
.infocontent {
  min-height: 1000px;
  padding-top: 100px;
}

.infocontent h1 {
  text-align: center;
  font-family: 'muller';
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 20px;
  color: gray;
}

.infoblob {
  width: 450px;
  position: absolute;
  left: 0;
  top: 110px;
  z-index: 0;
}

.infoblobright {
  position: absolute;
  right: 0px;
  top: 400px;
  height: 500px;
}

.headinfo {
  max-width: 860px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 10;
  min-height: 70vh;
  padding-left: 300px;
}

.headinfo h1 {
  color: #2B2E39;
  font-size: 4em;
  font-family: 'muller-black';
  text-transform: none;
  letter-spacing: 2px;
  padding: 50px 0 30px 0;
}

.headinfo span {
  color: #8981FF;
}

.headinfo p {
  line-height: 170%;
  font-size: 1.3em;
  margin-bottom: 30px;
}

.headinfo a {
  width: 186px;
  height: 100px;
  font-family: 'muller';
  padding-bottom: 20px;
  font-size: 1.2em;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(/assets/images/buttonbg.png);
}

/* TIMELINE */
.timelineholder {
  margin-top: 50px;
  margin-bottom: 200px;
  position: relative;
}

.timeline {
  margin: 0 auto;
  position: relative;
  max-width: 900px;
}

.timelineholder::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: #FCD487;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.lineItem {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

.lineItem::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url(/assets/images/lineItem.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 1;
}

.leftItem {
  left: 0;
  text-align: right;
}

.rightItem {
  left: 50%;
}

.rightItem::after {
  left: -20px;
}

.itemContent {
  padding: 20px 30px;
  position: relative;
}

.itemContent h2 {
  font-family: 'muller-black';
  font-size: 2.5em;
  color: #2B2E39;
  padding-bottom: 30px;
}

.itemContent h2 span {
  color: #8981FF;
}

.itemContent p {
  line-height: 170%;
  letter-spacing: 1px;
}

.extraContent {
  min-height: 70%;
  margin: 10% 20px;
  width: 80%;
  position: absolute;
  left: -100%;
  top: 0;
  border-radius: 5px;
  background: linear-gradient(135deg, #8981ff 0%, #635bd9 100%);
  padding: 40px;
}

.extraContent h3 {
  font-family: 'muller-black';
  letter-spacing: 1px;
  font-size: 1.8em;
  color: white;
  padding-bottom: 20px;
}

.extraContent p {
  color: white;
  line-height: 170%;
  font-size: 1em;
  letter-spacing: 1px;
}

/* === Responsive CSS === */
