@media only screen and (max-width: 1200px){
  .leftquizbubble, .rightquizbubble {
    display: none;
  }
}

@media only screen and (max-width: 1050px){
  .stats img, .risk img {
    width: 200px;
  }
}

@media only screen and (max-width: 1150px){
  .leftblob, .rightblob {
    width: 305px;
  }
}

@media only screen and (max-width: 1150px){
  .leftblob, .rightblob {
    width: 305px;
  }

  .leftinfobubble, .rightinfobubble {
    display: none;
  }
}


@media only screen and (max-width: 1100px){
  .infoblobright {
    display: none;
  }

  .infoblob {
    width: 300px;
    top: 170px;
  }
}

@media only screen and (max-width: 990px){
  .rightblob {
    width: 230px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position: top center;
    height: 100%;
    top: 150px;
  }

  .leftblob {
    display: none;
  }

  .head_content {
    margin-left: 150px;
    align-items: flex-start;
  }

  .head_contentbottom {
    padding-left: 0;
  }

}

@media only screen and (max-width: 960px){
  .innernavigation {
    padding: 20px;
  }
}

@media only screen and (max-width: 850px){
  .leftAnswer div h2 {
    font-size: 2em;
  }

  .stats img, .risk img {
    width: 150px;
  }


}

@media only screen and (max-width: 800px){

  .timelineoverlayholder {
    left: 50px;
    bottom: 150px;
    top: 30px;
  }

  .watmetivf {
    display: none;
  }


  .timelineholder::after {
    left: 50px;
    bottom: 150px;
    top: 30px;
  }

  .lineItem {
    width: 100%;
    text-align: left;
  }

  .itemContent {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .extraContent {
    position: relative;
    left: 45px;
    transform: translateY(0)
  }

  .itemContent::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .leftItem::after, .rightItem::after {
    left: 27px;
  }

  .lineItem::after {
    top: 20px;
    transform: translateY(0);
  }

  .rightItem {
    left: 0%;
  }

  .leftinfobubble, .rightinfobubble {display: none;}

}

@media only screen and (max-width: 750px){
  .choice_block {
    width: 100%;
    margin-bottom: 30px;
  }

  .innernavigation {
    flex-direction: column;
  }
  .leftblob {
    display: none;
  }

  .smallblobright {
    display: none;
  }


  .head_contentbottom {
    padding-left: 0;
  }

  .head {
    justify-content: flex-start;
  }

  .head_content {
    margin: 0 auto;
    width: 100%;
  }


  .leftAnswer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;

    img {
      border-radius: 500px;
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
      background-color: #FBD28C;
      order: 1;
    }

    div {
      width: 100%;
      order:2;
      flex: auto;
      text-align: center;
    }
  }

  .leftAnswer div h2 {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .leftAnswer div p {
    text-align: center;
  }

  .headinfo {
    min-height: 0;
    margin-top: 100px;
  }

  .stats img, .risk img {
    width: 100px;
  }
}


@media only screen and (max-width: 670px){
  .infoblob {
    width: 200px;
    top: 220px;
  }

  .headinfo {
    padding-left: 210px;
    h1 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.1em;
    }
  }

  .stats img, .risk img {
   display: none;
  }

  .stats div, .risk div {
    padding: 20px;
  }

  .stats, .risk {
    margin-bottom: 40px;
  }

  .knowmore {
    min-height: 350px;
  }
}

@media only screen and (max-width: 600px){
  .head_contenttop {
    font-size: 3.5em;
  }

  .info {
    padding: 10px;
  }
}

@media only screen and (max-width: 550px){
  .q2_block {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .q1_block {
    min-height: 100px;
    width: 50%;
  }

  .part2 h1 {
    font-size: 2em;
  }

  .q2_block:hover {
    padding: 35px 50px;
    margin: 5px;
  }

  .head_content {
    align-items: center;
  }

  .infoblob {
    display: none;
  }

  .headinfo {
    padding-left: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
    }

    a {
      text-align: center;
    }
  }


}

@media only screen and (max-width: 500px){
  .head_contenttop {
    font-size: 3em;
  }

  .head {
    min-height: 0;
  }

  .head_content {
    width: 90%;
    padding-top: 180px;
  }

  .rightblob {
    width: 190px;
    min-height: 100vh;
    background-position: top center;
    top: 160px;
  }

  .head_contentbottom {
    font-size: 1.1em;
  }

  .navigation nav {
    width: 100%;
  }

  .navigation nav ul {
    width: 100%;
  }

  .qza {
    display: none;
  }
}

@media only screen and (max-width: 450px){
  .head_contenttop {
    font-size: 2em;
  }

  .rightblob {
    width: 130px;
  }
}
