@import "reset";

$rosegold: #F7DCDF;
$babyblue: #D0E0FE;
$yellow: #FCF9CE;

html {
  font-size: 80%;
  height: 100%;
  background-color: #FAFAFA;
  box-sizing: border-box;
  font-family: verdana;
}

*:focus {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

input[type=text],input[type=submit],input[type=email],input[type=tel],
input[type=url],input[type=search],textarea,select,
option{appearance:none;-moz-appearance:none;
  -webkit-appearance:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}


*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

@font-face {
    font-family: 'jellee';
    src: url('/assets/fonts/jellee/jellee.woff2') format('woff2'),
         url('/assets/fonts/jellee/jellee.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* === General === */

.yellow {
  border: 5px solid $yellow;
  background-color: $yellow;
}

.rosegold {
  border: 5px solid $rosegold;
  background-color: $rosegold;
  &:hover {
    border: 5px solid $yellow;
  }
}

.blue {
  border: 5px solid $babyblue;
  background-color: $babyblue;

  &:hover {
    border: 5px solid $yellow;
  }
}



/* === Home page === */

.navigation {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;

  nav {
    ul {
      width: 250px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    ul a {
      text-decoration: none;
    }

    li {
      padding: 10px 0;
      cursor: pointer;
      color: $babyblue;
      font-family: 'jellee';
      text-transform: uppercase;

    }

    li:hover {
      border-bottom: 2px solid $babyblue;
    }
  }
}

.nav_active {
  border-bottom: 2px solid $babyblue;
}

.innernavigation {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  width: 150px;
  background-color: $babyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $yellow;
  text-transform: uppercase;
  font-family: 'jellee';
  text-decoration: none;
}

.head {
  padding-top: 100px;
	width: 100%;
  color: gray;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
  background-color: $yellow;
  font-family: 'jellee';
  font-size: 2em;
}

.choice {
	max-width: 900px;
	margin: 0 auto;
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.choice_block {
	width: 48%;
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    color: $rosegold;
    font-family: 'jellee';
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 1px;
  }

  p {
    font-size: 1.2em;
    line-height: 160%;
    text-align: center;
    color: #A3A4A2;
    flex: 1;
    padding: 40px 0;
  }

  button {
    cursor: pointer;
    background-color: $babyblue;
    width: 100%;
    padding: 20px;
    font-family: 'jellee';
    font-size: 1.5em;
    border: none;
    text-align: center;
    color: white;
  }
}



/* === Quiz === */

.quiz {
	margin: 0 auto;
  margin-bottom: 50px;
	max-width: 1280px;
	width: 95%;
	height: 600px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quiz_content {
  width: 100%;
  height: 100%;
}

.qbtn {
  padding: 10px 20px;
  background-color: $yellow;
  font-family: 'jellee';
  text-transform: uppercase;
  color: gray;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  max-width: 200px;
}

.qcontent {
  width: 100%;
  height: 100%;
}

.question {
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  font-family: 'jellee';
}

.options {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.questionOption {
  width: 300px;
  height: 300px;
  color: gray;
  font-size: 1.5em;
  margin: 10px;
  text-transform: uppercase;
  font-family: 'jellee';
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* === Info page === */

.infocontent {
  padding-top: 100px;

  h1 {
    text-align: center;
    font-family: 'jellee';
    text-transform: uppercase;
    font-size: 2em;
    padding: 20px;
    color: gray;
  }
}



/* === Responsive CSS === */

@import "responsive";







